{% extends 'movies/fragments/base.html' %}
{% block main-content %}
<div class="row">
    <div class="col s12">
        <h5>Bloques del condominio</h5>
        {% if request.user.is_staff %}
        <a class="btn waves-effect light-blue darken-2 right" href="{% url 'movies:bloque-create' %}">
            <i class="material-icons left">add</i>Nuevo bloque
        </a>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col s12">
        {% if not bloques %}
            <div class="card-panel orange">
                <span class="white-text">No hay bloques registrados.</span>
            </div>
        {% else %}
            <table class="striped responsive-table">
                <thead>
                <tr>
                    <th>Bloque</th>
                    <th>Numero de pisos</th>
                    <th>Unidades</th>
                    <th>Registrado</th>
                    {% if request.user.is_staff %}<th>Opciones</th>{% endif %}
                </tr>
                </thead>
                <tbody>
                {% for bloque in bloques %}
                    <tr>
                        <td><b>{{ bloque.name }}</b></td>
                        <td>{{ bloque.numero_pisos }}</td>
                        <td>{{ bloque.unidad_set.count }}</td>
                        <td>{{ bloque.created|timesince }} atras</td>
                        {% if request.user.is_staff %}
                        <td>
                            <a class="btn-floating btn-small waves-effect orange" href="{{ bloque.get_edit_url }}">
                                <i class="material-icons">edit</i>
                            </a>
                            <a class="btn-floating btn-small waves-effect red" href="{{ bloque.get_delete_url }}">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}
